* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1b1c21;
  background-color: #f8f8f8;
}

h1 {
  height: 24;
  opacity: 0.5;
  padding-left: 32px;
  padding-top: 30px;
  font-size: 13px;
  background: linear-gradient(#f8f8f8, #ffffff);
}

.brands-block {
  padding: 24px 32px;
}

.brands-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  padding-left: 32px;
  padding-top: 30px;
  gap: 10px;
  width: 224px;
  height: 72px;
  transition: max-height 0.3s ease;
}

.brands-grid.expanded {
  max-height: 2000px;
}

button {
  width: 240px; /* added */
  max-width: 240px; /* added */
  height: 72px; /* added */
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 6px; /* added */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  object-fit: contain; /* added */ /*!!*/
}

.brand {
  /* height: 40px; */
  /* margin: 6px; */
}

.go {
  height: 20px;
  margin: 6px;
  align-items: center;
  cursor: pointer;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 14px;
}

.arrow {
  transition: transform 0.3s;
}

.arrow.rotated {
  transform: rotate(180deg);
}

/* .brands-swiper {
  display: none;
} */

/* @media (max-width: 320px) {
  .container {
    display: none;
  }

  .brands-swiper {
    display: block;
  }

  .toggle {
    display: none;
  }
} */

/* Added */
/* Container size */
.brands-grid {
  display: none;
}

.brands-swiper {
  width: 100%;
  max-width: 320px;
  height: 300px; /* adjust height as needed */
  margin: 0 auto;
  ;
}

/* Slide styling */
.swiper-slide {
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

/* Optional: pagination dots */
.swiper-pagination-bullet {
  background: #000;
}

@media (min-width: 768px) {
  .brands-swiper {
    display: none;
  }

  .brands-grid {
    display: flex;
    flex-wrap: wrap; /* allows items to move to next row */
    gap: 10px;
  }

  .brands-grid button {
    width: calc((100% - 2 * 10px) / 3); /* 3 columns with gap */
  }
}

@media (min-width: 1120px) {
  .brands-swiper {
    display: none;
  }

  .brands-grid {
    width: 1000px;
    display: flex;
    flex-wrap: wrap; /* allows items to move to next row */
    gap: 10px;
  }

  .brands-grid button {
    width: calc((100% - 3 * 10px) / 4); /* 4 columns with gap */
  }
}


